@font-face {
  font-family: 'Noto Sans Armenian';
  src: url('../fonts/NotoSansArmenian/NotoSansArmenian-Black.eot');
  src: url('../fonts/NotoSansArmenian/NotoSansArmenian-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NotoSansArmenian/NotoSansArmenian-Black.woff2') format('woff2'),
  url('../fonts/NotoSansArmenian/NotoSansArmenian-Black.woff') format('woff'),
  url('../fonts/NotoSansArmenian/NotoSansArmenian-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Armenian';
  src: url('../fonts/NotoSansArmenian/NotoSansArmenian-ExtraBold.eot');
  src: url('../fonts/NotoSansArmenian/NotoSansArmenian-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NotoSansArmenian/NotoSansArmenian-ExtraBold.woff2') format('woff2'),
  url('../fonts/NotoSansArmenian/NotoSansArmenian-ExtraBold.woff') format('woff'),
  url('../fonts/NotoSansArmenian/NotoSansArmenian-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Armenian';
  src: url('../fonts/NotoSansArmenian/NotoSansArmenian-SemiBold.eot');
  src: url('../fonts/NotoSansArmenian/NotoSansArmenian-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NotoSansArmenian/NotoSansArmenian-SemiBold.woff2') format('woff2'),
  url('../fonts/NotoSansArmenian/NotoSansArmenian-SemiBold.woff') format('woff'),
  url('../fonts/NotoSansArmenian/NotoSansArmenian-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Armenian';
  src: url('../fonts/NotoSansArmenian/NotoSansArmenian-Medium.eot');
  src: url('../fonts/NotoSansArmenian/NotoSansArmenian-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NotoSansArmenian/NotoSansArmenian-Medium.woff2') format('woff2'),
  url('../fonts/NotoSansArmenian/NotoSansArmenian-Medium.woff') format('woff'),
  url('../fonts/NotoSansArmenian/NotoSansArmenian-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Armenian';
  src: url('../fonts/NotoSansArmenian/NotoSansArmenian-Bold.eot');
  src: url('../fonts/NotoSansArmenian/NotoSansArmenian-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NotoSansArmenian/NotoSansArmenian-Bold.woff2') format('woff2'),
  url('../fonts/NotoSansArmenian/NotoSansArmenian-Bold.woff') format('woff'),
  url('../fonts/NotoSansArmenian/NotoSansArmenian-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Armenian';
  src: url('../fonts/NotoSansArmenian/NotoSansArmenian-Regular.eot');
  src: url('../fonts/NotoSansArmenian/NotoSansArmenian-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NotoSansArmenian/NotoSansArmenian-Regular.woff2') format('woff2'),
  url('../fonts/NotoSansArmenian/NotoSansArmenian-Regular.woff') format('woff'),
  url('../fonts/NotoSansArmenian/NotoSansArmenian-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}